@{
    ViewBag.Title = "Create New Appointment";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form method="post" action="/appointment/create">
    <div class="form-horizontal">

        <div class="form-group">
            <label for="Id" class="control-label col-md-2">Id:</label>
            <div class="col-md-10">
                <input type="text" id="Id" name="Id" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="Description" class="control-label col-md-2">Description:</label>
            <div class="col-md-10">
                <input type="text" id="Description" name="Description" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label for="Location" class="control-label col-md-2">Location:</label>
            <div class="col-md-10">
                <input type="text" id="Location" name="Location" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="Date" class="control-label col-md-2">Appointment Date:</label>
            <div class="col-md-10">
                <input type="date" id="Date" name="Date" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label for="Time" class="control-label col-md-2">Appointment Time:</label>
            <div class="col-md-10">
                <input type="time" id="Time" name="Time" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" required/>
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/home/index">Back to List</a>
</div>